* {
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}

/* 设置蒙版 */
#board{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
    visibility: hidden;
}
#board>p{
    width: 100px;
    height: 40px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    padding: 10px;
}

/* 元素的总体布局容器 */
.root {
    display: flex;
    flex-wrap: wrap;
    width: 1250px;
    margin: 0 auto;
}

/* 每个商品显示的大小 */
.root>div {
    width: 200px;
    height: 350px;
    margin: 25px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
}

/* 图片宽度 */
.root>div>img {
    display: block;
    width: 100%;
}

/* 设置价格显示 */
.root>div>p:nth-child(2) {
    color: orangered;
    font-size: 20px;
    margin: 10px 0;
}

/* 设置产品描述 */
.root>div>p:nth-child(3) {
    box-sizing: border-box;
    line-height: 1.5em;
    margin: 10px;
    text-align: justify;
    display: -webkit-box;
    white-space: wrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 设置热销与折扣显示 */
.root>div>div{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    bottom: 5px;
    font-weight: bold;
}

.root>div>div>p:first-child{
    color: red;
}
.root>div>div>p:last-child{
    color: orange;
}

/* 设置顶部容器 */
.search{
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 999;
}

/* 设置顶部搜索框样式 */
.search>input{
    box-sizing: border-box;
    width: 30%;
    height: 40px;
    display: block;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: transparent;
    border: 3px solid orangered;
    text-indent: 5px;
}
/* 设置顶部搜索样式 */
.search>span{
    display: inline-block;
    padding: 0 15px;
    background-color: orangered;
    color: white;
    cursor: default;
}

/* 设置筛选区 */
.filter{
    display: flex;
    background-color: #fff;
    box-sizing: border-box;
    align-items: center;
    height: 80px;
    line-height: 80px;
    padding-left: 10%;
    margin: 20px 0 0 0;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    position: sticky;
    top: 40px;
    z-index: 999;

}
/* 设置筛选栏 */
.filter>select{
    height: 25px;
    margin: 0 15px;
    border: 1px solid #ddd;
    width: 80px;
    border-radius: 5px;
}