* {
  padding: 0;
  margin: 0;
}
#box {
  margin: 10px 0;
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
}
#box2 {
  margin: 10px 0;
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  left: 500px;
  top: 0;
}
#line{
    width: 1px;
    height: 400px;
    background-color: black;
    position: absolute;
    left: 400px;
    top: 0;
}